{% extends 'base.html' %}
{% load static %}
{% block head %}
  <style type="text/css">
    body {
      background-color: #DADADA;
    }

    body > .grid {
      height: 100%;
    }

    .image {
      margin-top: -100px;
    }

    .column {
      max-width: 450px;
    }
  </style>
{% endblock head%}
{% block body %}
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui blue header">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form{% if form.errors %} error{% endif %}" action="." method="post">
      {% if form.errors %}
        <div class="ui error message">
          <div class="header">Access Denied</div>
          <p>Username or password is not valid.</p>
        </div>
      {% endif %}
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <button class="ui fluid large blue submit button">Login</button>
      </div>
      {% csrf_token %}
    </form>
  </div>
</div>
{% endblock body %}
